= render 'devise/shared/side_bar'
.rightside
  .rightside__group{data: {id: @group.id}}
    .rightside__group_name  
      = @group.name
    .rightside__group_members
      Member:
      - @group.users.each do |user| 
        = user.name
    .rightside__group_edit 
      = link_to 'Edit', edit_group_path(@group.id)
  .rightside__comments
    = render @messages # partialsで_messageファイルを指定して、collectionオプションで配列の中から情報を取り出している
  .rightside__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'rightside__form_input', placeholder: 'type a message'
      = f.submit 'Send', class: 'rightside__form_send'
      .rightside__form_imagebox
        = f.label :image, class: 'rightside__form_label' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'rightside__form_file'
