.leftside
  .leftside__user
    .leftside__user_user-name
      = current_user.name
    .leftside__user_user-menu
      = link_to new_group_path do
        %i.fa.fa-edit
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog  
  .leftside__groups
    .leftside__groups_group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .leftside__groups_group-name 
            = group.name
          .leftside__groups_group-topmes 
            = group.show_last_message